/ {
    leds {
        compatible = "gpio-leds";
        info_led: info_led {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
    };

    dht {
        compatible = "gpio-leds";
        dht_pin: dht_pin {
            gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

    user_buttons {
		compatible = "gpio-keys";
		config_btn: config_btn {
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Config mode enter";
		};
	};
};

&wifi {
	status = "okay";
};